<div class="d-flex justify-content-center mt-2">
  <h1>All Cocktails</h1>
</div>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: "text-decoration-none" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= url_for(cocktail.photo) if cocktail.photo.attached? %>')">
        <%= cocktail.name %>
      </div>
    <% end %>
  <% end %>
</div>
